@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Mulish:wght@400;500;600;700;800;900;1000&display=swap");

:root {
  --main-font-family: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_section {
  width: 100%;
  height: 8.5vh;
  background-color: #022b3a;
  position: sticky;
}

.nav_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 3rem;
  padding: 0.5%;
  text-align: center;
}

.navigation {
  font-family: var(--main-font-family);
  list-style: none;
}

.navigation li {
  float: left;
}

.nav_link {
  color: #ffffff;
  text-decoration: none;
  padding: 0 50px;
  display: block;
  font-size: 1.1rem;
}

.home_section {
  width: 100%;
  height: 100vh;
}

.home_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Serif Text", serif;
}

.home_container h1 {
  font-size: 3.1rem;
  margin: 3% 1% 0%;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
}

h1 span {
  color: #1f7a8c;
}

.home_container p {
  font-size: 1.5rem;
  margin-bottom: 3%;
  padding: 1%;
}

.image {
  background-image: url("/Assets/Images/home_backgroound_image.jpg");
  height: 600px;
  width: 600px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(to top, rgb(0, 0, 0), transparent 180%);
  mask-image: linear-gradient(to top, black, transparent 180%);
}

.service_container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.service_types {
  width: 30%;
  height: 210px;
  background-color: rgba(239, 239, 239, 0.163);
  font-family: var(--main-font-family);
  padding: 1.5%;
}

.service_types h2 {
  font-size: 1.6rem;
  padding: 1%;
  font-weight: 800;
}

.service_types p {
  padding: 1%;
  font-size: 1.1rem;
  text-align: justify;
}

.service_types > img:nth-child(1) {
  width: 15%;
}

.about_section {
  width: 100%;
  height: 65vh;
}

.about_container {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}

.company_intro {
  width: 100%;
  height: 100px;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-family: var(--main-font-family);
}

.company_intro h2 {
  font-size: 1.8rem;
  padding-bottom: 1%;
  flex-grow: 1;
  margin-left: 1%;
}

.company_intro span {
  font-size: 1rem;
  padding-bottom: 1%;
}

.quote_container {
  margin: 1% auto;
  width: 60%;
  /* height: 250px; */
  font-family: "DM Serif Text", serif;
}

.quote_container p {
  font-size: 3rem;
  text-align: center;
}

.quote_container p:nth-child(1) {
  padding-top: 2%;
}

.quote_container p:nth-child(2) {
  color: #1f7a8c;
  padding-bottom: 1%;
}

.work_section{
  width: 100%;
  /* background-color: #022b3a; */
}

.mywork_container{
  width:60%;
  /* background-color: aqua; */
  margin: 0 auto;
}

.mywork_container h2{
  font-family: var(--main-font-family);
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  padding: 2%;
}

.photo_work_1, .photo_work_2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo_work_1 img , .photo_work_2 img{
  width: 30%;
  flex-grow: 1;
}

.photo_work_1 img:nth-child(2) , .photo_work_2 img:nth-child(2){
  padding: 0 7px;
}

.photo_work_1 img:nth-child(odd), .photo_work_2 img:nth-child(odd){
  padding: 0 7px;
}

.photo_work_2{
  padding-top: 14px;
}


